/Launch/ipch
Release
Debug
*.opendb
*.db
x64
*.bsc
.vs
/Installer/LMPlayer_Preload._2_0_2_2.exe
/Installer/LMPlayer20200218.exe
/Installer/LMPlayer_2.0.2.3.exe
/PDB
/ipch
/Installer/app
/Installer/NSIS/Plugins/nsDui.ipdb
/Installer/NSIS/Plugins/nsDui.lib
/Installer/NSIS/Plugins/nsDui.pdb
/Installer/NSIS/Plugins/nsDui.exp
/Installer/NSIS/Plugins/nsDui.iobj
/Installer/7zFM.exe.lnk
/Installer/LMPlayer签名.bat.lnk
/Installer/LMPlayer签名-安装包.bat.lnk
/Installer/makensisw.exe.lnk
/SDK/cef3/3.2704.1416/pdb/libcef.dll.pdb
